@import "tailwindcss";

@theme {
    --color-main: #0067b5;
    --color-sub: #e70012;
    --color-bgr: #fff;

    --container-xs: 375px;
    --container-sm: 575px;
    --container-md: 768px;
    --container-lg: 992px;
    --container-xl: 1200px;
    --container-2xl: 1600px;
}